<div class="specialization-content">
  <div class="content">
    <div class="no-wrap-text" i18n> {{ specialization.id }}</div>
  </div>
  <div class="content">
    <div class="no-wrap-text" i18n> {{ nomination.names[this.locale] }}</div>
  </div>
  <div class="content">
    <div class="no-wrap-text" i18n> {{ specialization.names[this.locale] }}</div>
  </div>
  <div class="content">
    <div class="no-wrap-text" i18n> {{ specialization.createdAt }}</div>
  </div>
  <div class="content actions">
    <a class="edit" (click)="openDialog()">
      <button mat-button class="btn action" i18n matTooltip="Edit Item">
        <mat-icon>create</mat-icon>
      </button>
    </a>
    <a class="remove" (click)="removeItem()">
      <button mat-button class="btn action remove" i18n matTooltip="Remove Item">
        <mat-icon>delete</mat-icon>
      </button>
    </a>
  </div>
</div>
