.applications-container {
  h2 {
    text-align: center;
  }

  .application-header {
    display: grid;
    grid-template-columns: 27% 15% 19% 19% 15%;
    grid-column-gap: 1%;
    border-radius: 5px;
    color: #17908d;
    font-size: 17px;
    padding: 5px;
  }

  .filter-container {
    padding: 5px;
  }
}
