<section class="left-panel">
  <div class="main-list-container">
    <ul class="main-list">
      <li class="main-list-item f_item"
          *ngFor="let festival of festivals">
        <div class="item-text" (click)="showHideOptions($event.currentTarget)">
          <span>{{ festival.names[this.locale] }}</span>
          <mat-icon role="img" class="mat-icon f_rotate-icon rotating-icon mat-icon-no-color"
                    aria-hidden="true">
            <svg focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path>
            </svg>
          </mat-icon>
        </div>

        <ul class="festival-list f_festival-list is-hidden">
          <li class="festival-item" [routerLink]="[festival.id + '/applications']" [queryParams]="{isAdmin: isAdmin}" skipLocationChange="true">
            Applications
          </li>
          <li class="festival-item" [routerLink]="[festival.id + '/applicants']" [queryParams]="{isAdmin: isAdmin}" skipLocationChange="true">
            Applicants
          </li>
          <li class="festival-item" [routerLink]="[festival.id + '/results']" [queryParams]="{isAdmin: isAdmin}" skipLocationChange="true">
            Results
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
