<section class="cities-container">
  <div class="title-container">
    <h2 i18n>Cities</h2>
  </div>
  <div class="add-btn-container">
    <button mat-button class="add-button" (click)="addCity()"><span>Add</span> <mat-icon>add</mat-icon></button>
  </div>
  <div class="cities-header">
    <div class="title"><span i18n>ID</span></div>
    <div class="title"><span i18n>Region</span></div>
    <div class="title"><span i18n>Name</span></div>
    <div class="title"><span i18n>Created Date</span></div>
    <div class="title"><span i18n>Actions</span></div>
  </div>
  <app-city *ngFor="let city of cities | paginate: { itemsPerPage: 10, currentPage: p }"
              [city]="city" [regions]="regions" (removed)="removeCity($event)">
  </app-city>
  <div class="pagination-controller">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</section>
