.applicant-form {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-auto-rows: 100px;

  .first-row, .third-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;

  }

  input {
    font-size: 18px;
    padding: 5px 0;
  }

  mat-label {
    font-size: 18px;
  }

  .date-picker-input {
    width: 89%;
  }

  .mat-datepicker-toggle {
    color: blueviolet;
    position: absolute;
    bottom: 5px;
  }

  .file-container {
    text-align: center;
    vertical-align: bottom;
    position: relative;

    .upload-btn {
      margin-top: 10px;
      font-size: 18px;
      border-radius: 5px;
      min-width: 150px;
      display: inline-block;
      cursor: pointer;
      color: #fff;
      transition: background-color 0.6s;
      height: 40px;
      line-height: 40px;

      &.passport {
        background-color: #5E35B1;

        &:hover {
          background-color: #512DA8;
        }
      }

      &.image {
        background-color: #0277BD;

        &:hover {
          background-color: #01579B;
        }
      }

      &.audio {
        background-color: #2E7D32;

        &:hover {
          background-color: #1B5E20;
        }
      }
    }

    .percentage-background {
      position: absolute;
      border-radius: 5px;
      cursor: pointer;
      display: inline-block;
      left: 75px;
      top: 10px;
      min-height: 40px;

      &.passport {
        background-color: #512DA8;
      }

      &.image {
        background-color: #01579B;
      }

      &.audio {
        background-color: #1B5E20;
      }
    }

    .percentage-text {
      position: absolute;
      left: 130px;
      font-size: 18px;
      top: 20px;
      color: white;
      z-index: 100;
    }
  }
}

::ng-deep .date-picker {
  background:lightblue;
}

::ng-deep .date-picker .mat-calendar-body-today:not(.mat-calendar-body-selected){
  border-color:darkblue;
}
