<section class="countries-container">
  <div class="title-container">
    <h2 i18n>Countries</h2>
  </div>

  <button mat-button class="add-button" (click)="addCountry()">Add Country</button>
  <div class="country-header">
    <div class="title"><span i18n>ID</span></div>
    <div class="title"><span i18n>Name</span></div>
    <div class="title"><span i18n>Created Date</span></div>
    <div class="title"><span i18n>Actions</span></div>
  </div>
  <app-country *ngFor="let country of countries | paginate: { itemsPerPage: 10, currentPage: p }"
               [country]="country" (removed)="removeCountry($event)"></app-country>
  <div class="pagination-controller">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</section>
