<section class="left-panel">
  <div class="main-list-container">
    <ul class="main-list">
      <li class="main-list-item" [routerLink]="['applications']">
        <div class="item-text">
          <span i18n>Applications</span>
        </div>
      </li>
      <li class="main-list-item " #applicationItem>
        <div class="item-text" (click)="showHideOptions()">
          <span i18n>Application Form</span>
          <mat-icon role="img" class="mat-icon f_rotate-icon rotating-icon mat-icon-no-color"
                    aria-hidden="true">
            <svg focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path>
            </svg>
          </mat-icon>
        </div>

        <ul class="festival-list f_festival-list is-hidden">
          <li class="festival-item" [routerLink]="['countries/']">Countries</li>
          <li class="festival-item" [routerLink]="['regions/']">Regions</li>
          <li class="festival-item" [routerLink]="['cities/']">Cities</li>
          <li class="festival-item" [routerLink]="['institutions/']">Institutions</li>
          <li class="festival-item" [routerLink]="['nominations/']">Nominations</li>
          <li class="festival-item" [routerLink]="['specializations/']">Specializations</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
