.application-content {
  display: grid;
  grid-template-columns: 27% 15% 19% 19% 15%;
  grid-column-gap: 1%;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;

  .content {
    box-shadow: -1px 0 3px 1px rgba(133, 133, 133, 0.25);
    line-height: 35px;
    text-align: center;

    &.applicant {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .no-wrap-text {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &.actions {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
    }

    .btn {
      padding: 0;
      min-width: unset;
      width: 30px;
    }

    .edit {
      color: #64B5F6;
    }

    .remove {
      color: #E53935;
    }

    .state {
      color: #019f01;
    }
  }
}
