<div class="application-content">
  <div class="content applicant">
    <div class="no-wrap-text" i18n> {{ application.applicant.firstName }}</div>
    <div class="no-wrap-text" i18n> {{ application.applicant.lastName }}</div>
    <div class="no-wrap-text" i18n> {{ application.applicant.patriotic }}</div>
    <div class="no-wrap-text" i18n> {{ application.applicant.age }}</div>
  </div>
  <div class="content item">
    <div class="no-wrap-text" i18n> {{ application.nomination.name }}</div>
    <div class="no-wrap-text" i18n> {{ application.specialization.name }}</div>
  </div>
  <div class="content item" *ngFor="let program of application.programs">
    <div class="no-wrap-text" i18n> {{ program.compositionAuthor }}</div>
    <div class="no-wrap-text" i18n> {{ program.compositionName }}</div>
  </div>
  <div class="content item">
    <div class="no-wrap-text" i18n>
      {{ application.state }}
    </div>
    <mat-icon>loop</mat-icon>
  </div>
  <div class="content item">
    <div class="edit">
      <button mat-button class="btn action" i18n>
        <mat-icon>create</mat-icon>
      </button>
    </div>
    <div class="remove" (click)="removeItem()">
      <button mat-button class="btn action remove" i18n>
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
