.application-content {
  display: grid;
  grid-template-columns: 24% 15% 18% 18% 10% 10%;
  grid-column-gap: 1%;
  border-radius: 5px;
  padding: 5px;
  color: #445252;
  font-size: 15px;

  .content {
    box-shadow: -1px 0 3px 1px rgba(133, 133, 133, 0.25);
    line-height: 35px;
    text-align: center;

    &.applicant {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .no-wrap-text {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .edit {
    color: #8eafe0;
  }

  .remove {
    color: #e10300;
  }

  .action {
    min-width: 80px;
  }
}
