<div class="application-content">
  <div class="content applicant">
    <div class="no-wrap-text" i18n> {{ application.applicant.firstName }}</div>
    <div class="no-wrap-text" i18n> {{ application.applicant.lastName }}</div>
    <div class="no-wrap-text" i18n> {{ application.applicant.patriotic }}</div>
    <div class="no-wrap-text" i18n> {{ application.applicant.age }}</div>
  </div>
  <div class="content item">
    <div class="no-wrap-text" i18n> {{ application.nomination.names[locale] }}</div>
    <div class="no-wrap-text" i18n> {{ application.specialization.names[locale] }}</div>
  </div>
  <div class="content item" *ngFor="let program of application.programs">
    <div class="no-wrap-text" i18n> {{ program.compositionAuthor }}</div>
    <div class="no-wrap-text" i18n> {{ program.compositionName }}</div>
  </div>
  <div class="content item actions">
    <a class="edit" [routerLink]="['/application/' + application.id]" target="_blank" >
      <button mat-button class="btn action" i18n matTooltip="Edit Item">
        <mat-icon>create</mat-icon>
      </button>
    </a>
    <a class="remove" (click)="removeItem()" >
      <button mat-button class="btn action remove" i18n matTooltip="Remove Item">
        <mat-icon>delete</mat-icon>
      </button>
    </a>
    <a class="no-wrap-text">
      <button mat-button class="btn action state"  matTooltip="Application state">
        <mat-icon>loop</mat-icon>
      </button>
    </a>
  </div>
</div>
