.regions-container {

  .title-container {
    text-align: center;

    h2 {
      margin-bottom: 0;
    }
  }
  .add-btn-container {
    .add-button {
      min-width: 133px;
    }
  }

  .regions-header {
    display: grid;
    grid-template-columns: 2fr repeat(3, 3.2fr) 2fr;
    grid-column-gap: 1%;
  }

}
