<div class="applicant-content">
  <div class="content">
    <div class="no-wrap-text" i18n> {{ applicant.firstName }}</div>
  </div>
  <div class="content item">
    <div class="no-wrap-text" i18n> {{ applicant.lastName }}</div>
  </div>
  <div class="content item">
    <div class="no-wrap-text" i18n> {{ applicant.patriotic }}</div>
  </div>
  <div class="content item">
    <div class="no-wrap-text" i18n> {{ applicant.email }}</div>
  </div>
  <div class="content item">
    <div class="no-wrap-text" i18n> {{ applicant.phoneNumber }}</div>
  </div>
  <div class="content item">
    <div class="no-wrap-text" i18n> {{ applicant.birthDate }}</div>
  </div>
</div>
