<section class="application-container">
  <form [formGroup]="form" class="application-form">
    <app-autocomplete [items]="countries"
                      [addNewText]="'Add new Country'"
                      [formGroup]="form"
                      [controlName]="'country'"
                      (optionSelected)=countryChange($event)
                      (createNew)=addCountry($event)
                      (noSelectedItem)="emptyRegions()"
                      [label]="'Country'">
    </app-autocomplete>
    <app-autocomplete [items]="regions"
                      [addNewText]="'Add new Region'"
                      [formGroup]="form"
                      [controlName]="'region'"
                      (optionSelected)=regionChange($event)
                      (createNew)=addRegion($event)
                      (noSelectedItem)="emptyCities()"
                      [label]="'Region'">
    </app-autocomplete>
    <app-autocomplete [items]="cities"
                      [addNewText]="'Add new City'"
                      [formGroup]="form"
                      [controlName]="'city'"
                      (optionSelected)=cityChange($event)
                      (createNew)=addCity($event)
                      (noSelectedItem)="emptyInstitutions()"
                      [label]="'City'">
    </app-autocomplete>
    <app-autocomplete [items]="institutions"
                      [addNewText]="'Add new Institution'"
                      [formGroup]="form"
                      [controlName]="'institution'"
                      (createNew)=addInstitution($event)
                      [label]="'Institution'">
    </app-autocomplete>
    <mat-form-field>
      <mat-label>Nomination</mat-label>
      <mat-select id="nominationSelect" formControlName="nomination" [compareWith]="compare"
                  (selectionChange)="nominationChange($event.value)">
        <mat-option *ngFor="let nomination of nominations"
                    value="{{nomination.id}}">{{nomination.names[locale]}}</mat-option>
      </mat-select>
      <ng-container *ngIf="isFieldValid('nomination')">
        <div *ngIf="getFormControl('nomination').errors.required"
             class="error-message"
             i18n="@@nominationErrorRequired">
          Nomination Institution is required.
        </div>
      </ng-container>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Specialization</mat-label>
      <mat-select id="specializationSelect" formControlName="specialization" [compareWith]="compare">
        <mat-option *ngFor="let specialization of specializations"
                    value="{{specialization.id}}">{{specialization.names[locale]}}</mat-option>
      </mat-select>
      <ng-container *ngIf="isFieldValid('specialization')">
        <div *ngIf="getFormControl('specialization').errors.required"
             class="error-message"
             i18n="@@specializationErrorRequired">
          Specialization Institution is required.
        </div>
      </ng-container>
    </mat-form-field>
    <mat-form-field>
      <mat-label i18n>Director first name</mat-label>
      <input class="form-control" matInput
             [ngClass]="displayFieldCss('directorFirstName')"
             formControlName="directorFirstName">
      <ng-container *ngIf="isFieldValid('directorFirstName')">
        <div *ngIf="getFormControl('directorFirstName').errors.required"
             class="error-message" i18n>
          Director first name is required.
        </div>
        <div *ngIf="getFormControl('directorFirstName').errors.minlength"
             class="error-message" i18n>
          Director first name 4 characters long.
        </div>
      </ng-container>
    </mat-form-field>
    <mat-form-field>
      <mat-label i18n>Director last name</mat-label>
      <input class="form-control" matInput
             [ngClass]="displayFieldCss('directorLastName')"
             formControlName="directorLastName">
      <ng-container *ngIf="isFieldValid('directorLastName')">
        <div *ngIf="getFormControl('directorLastName').errors.required"
             class="error-message" i18n>
          Director last name is required.
        </div>
        <div *ngIf="getFormControl('directorLastName').errors.minlength"
             class="error-message" i18n>
          Director last name 4 characters long.
        </div>
      </ng-container>
    </mat-form-field>
  </form>
</section>

