.application-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-auto-rows: 100px;

  input, mat-select, mat-label {
    font-size: 18px;
    padding: 5px;
  }

  .autocomplete-input {
    width: 80%;
  }

  .add-btn {
    border: none;
    background: none;
    color: #333333;
    transition: 0.6s;
    cursor: pointer;
    font-size: 14px;
    outline: none;
    border-radius: 8px;

    &:hover {
    }
  }
}
