.user-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 17.5% 65% 17.5%;

  .right-content {
    text-align: center;
    .add-application {
      margin-left: 30px;
      background: #019f01;
      color: #f7f7f7;
      transition: 0.6s;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      padding: 10px;
      font-size: 16px;
      outline: none;
      z-index: 100;

      &:hover {
        background: #176c2e;
      }
    }
  }
}
