.institution-content {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 14% 14% 40% 14% 14%;
  grid-column-gap: 1%;

  .content {
    &.actions {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

    .btn {
      padding: 0;
      min-width: unset;
      width: 30px;
    }

    .edit {
      color: #64B5F6;
    }

    .remove {
      color: #E53935;
    }
  }
}
